.location {
font-size:50px;
font-weight:bold;
color:black;
text-align:center;
}
.but {
margin:auto;
  height:25px;
  width:70px;
  color:black;
  font-weight:bold;
  border-radius:2px;
  background-color:#b8c1cf;
  display:block;
}
.but:hover{
  background-color:#d1d9e6;
}
p {
font-size:20px;
text-align:center;
  color:gray;
}
